<h2>All Plants page</h2>

This may be a stretch goal - leave for now

if logged in, a user should see all plants, even from other gardeners

list out all plants
should any of them be clickable?
should it show the username of the gardener?
