<!-- we get to show_plant by a gardener clicking on one of their plants
from their 'my_plants' page
we also get here after a gardener has created a new plant (then we show it)
we also get here after a gardener has edited a plant (then we show it) -->


<h2><%=@plant.name%></h2>

  <div class="subtext">
    <h3>subtext?</h3>
  </div>

<br>

<%= @plant.amount_of_sun %><br>
<%= @plant.water_frequency %>

<div class="button">
  <a href="/my_plants/<%= @plant.id %>/edit">Edit Plant</a>
</div>

<br>
<form action="/plants/:id/delete" method="post">
  <input type="submit" id="submit" value="Delete Plant">
