<!DOCTYPE html>
<html>
  <head>
    <title>PlantTracker</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>

   <div class="wrapper">
     <% if Helpers.is_logged_in?(session) %>
        <div id="nav">
         <a class="active" href="/my_plants">Home</a>
         <a href="/logout">Logout</a>
        </div>
     <% end %>

     <% flash.keys.each do |type| %>
       <div data-alert class="alert-box" tabindex="0" aria-live="assertive" role="alertdialog">
         <%= flash[type] %>
         <button tabindex="0" class="closebtn" onclick="this.parentElement.style.display='none';" aria-label="Close Alert">&times;</button>
       </div>
      <% end %>

      <%= yield %>
   </div>

   <footer class="branding">
     <small>&copy; 2020 <strong>PlantTracker</strong></small>
   </footer>

  </body>
</html>
