<!DOCTYPE html>
<html>
  <head>
    <title>PlantTracker</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="navbar">

    </div>

   <div class="wrapper">
     <% if Helpers.is_logged_in?(session) %>
         <a class="active" href="/my_plants">Home</a>
         <a href="/logout">Logout</a>
     <% end %>
      <%= yield %>
   </div>

   <footer class="branding">
     <small>&copy; 2020 <strong>PlantTracker</strong></small>
   </footer>

  </body>
</html>
