<!-- Form to allow Gardener to login - big button to sign in
Don't have an account, link to sign up page?
Welcome message
-->

<h2>Login</h2>

<h3>Log in to view your plants</h3>

<form action="/login" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" id="submit" value="Login">
</form>
<br>

<p>Don't have an account? Please <a href="/signup">Sign Up.</a></p>
