<!-- Form to allow Gardener to login - big button to sign in
Don't have an account, link to sign up page?
Welcome message
-->


<form action="/login" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" id="submit" value="Login">
</form>
