<!-- Welcome message - this is your homepage
shows each plant that a gardener has created/edited
show the plants information?
each plant is clickable. When clicked, it redirects to that plant's show page
clickable new button
logout button -->

<div class="welcome">
<% if Helpers.is_logged_in?(session) %>
    <h3>Welcome, <%= @gardener.username %></h3>
    <p>My plants</p>
<%end%>
</div>




    <!-- list out each plant -->
    <% if Helpers.current_user(session) %>
      <% @plants.each do |plant| %>
      
          <li><a href="/my_plants/<%= plant.id %>"><%= plant.name %></a></li>
          <% end %>
      <% else %>
        <%= "You don't have any plants. Click new plant to start your garden." %>
    <% end %>

<br>

<!-- button to create a new plant -->
<div class="button">
  <button type="button"><a href="my_plants/new">New Plant</a></button>
</div>
