<!-- Welcome message - this is your homepage
shows each plant that a gardener has created/edited
show the plants information?
each plant is clickable. When clicked, it redirects to that plant's show page
clickable new button
logout button -->

<div class="welcome">
  <h3>Welcome, <%= @gardener.username %></h3>
    <p>
      My plants
    </p>
</div>


    <!-- list out each plant -->
    <% @plants.each do |plant| %>
        <li><a href="/my_plants/<%= plant.id %>"><%= plant.name %></a></li>
    <% end %>

<br>

<div class="button">
  <button type="button"><a href="my_plants/new">New Plant</a></button>
</div>
