<!-- Welcome message
subtext on what the app is all about -->

<h2>Sign up</h2>
  <h3>Start tracking your plants today! Sign up for an account.</h3>
  <form action="/signup" method="post">
      <p>Username: <input type="text" id="username" name="username"></p>
      <p>Email: <input type="text" id="email" name="email"></p>
      <p>Password: <input type="text" id="password" name="password"></p>
    <input type="submit" value="Sign up">
  </form>
