Signup form

<h2>Signup</h2>
  <form action="/signup" method="post">
    <input type="text" id="username" name="username">
    <input type="text" id="email" name="email">
    <input type="text" id="password" name="password">
    <input type="submit" value="Signup">
  </form>
