<!doctype html>
<html>
  <head>
    <h2>Welcome to Plant Tracker</h2>
    <p>Sign up or log in to track the plants in your garden</p>
  </head>
  <body>

    <div class="button">
      <button type="button"><a href="/signup">Sign Up</a></button>
    </div>
    <br>
    <div>
      <button type="button"><a href="/login">Log In</a></button>
    </div>

  </body>
</html>
